/BeerPub.xcodeproj/project.xcworkspace/xcshareddata/IDEWorkspaceChecks.plist
/BeerPub.xcodeproj/project.xcworkspace/xcuserdata/natallia.xcuserdatad/UserInterfaceState.xcuserstate
/BeerPub.xcodeproj/xcshareddata/xcschemes/BeerPub.xcscheme
/BeerPub.xcodeproj/xcuserdata/natallia.xcuserdatad/xcschemes/xcschememanagement.plist
/BeerPub.xcworkspace/xcshareddata/IDEWorkspaceChecks.plist
/BeerPub.xcworkspace/xcuserdata/natallia.xcuserdatad/UserInterfaceState.xcuserstate
/BeerPub.xcworkspace/xcuserdata/natallia.xcuserdatad/xcdebugger/Breakpoints_v2.xcbkptlist
/Pods
